
/*//////////////////////////////////////////////////////////////////
[ FUENTE ]*/


@font-face {
    font-family: Lato-Regular;
    src: url('../fonts/Lato/Lato-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Lato-Bold;
    src: url('../fonts/Lato/Lato-Bold.ttf'); 
  }
  
  
  
  
  /*//////////////////////////////////////////////////////////////////
  [ Tabla ]*/
  
  .limite {
    width: 1366px;
    margin: 0 auto;
  }
  
  .contenedor {
    width: 100%;
    min-height: 100vh;
    background: #fff;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
  }
  
  .envoltorio {
    width: 1170px;
  }
  
  /*//////////////////////////////////////////////////////////////////
  [ Table ]*/
  .tabla {
    background-color: #fff;
  }
  
  table {
    width: 100%;
  }
  
  th, td {
    font-weight: unset;
    padding-right: 10px;
  }
  
  .column1 {
    width: 10%;
    padding-left: 40px;
  }
  
  .column2 {
    width: 10%;
  }
  
  .column3 {
    width: 10%;
  }
  
  .column4 {
    width: 10%;
  }
  
  .column5 {
    width: 10%;
  }
  
  .column6 {
    width: 10%;
    padding-left: 40px;
  }
  
  .column7 {
    width: 10%;
  }
  
  .column8 {
    width: 10%;
  }
  
  .column9 {
    width: 10%;
  }
  
  .column10 {
    width: 10%;
  }
  
  .tabla-head th {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  
  .tabla-body td {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  
  /*==================================================================
  [ Fix header ]*/
  .tabla {
    position: relative;
    padding-top: 80px;
  }
  
  .tabla-head {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .tabla-body {
    max-height: 585px;
    overflow: auto;
  }
  
  
  /*==================================================================
  [ Ver1 ]*/
  
  .tabla.ver1 th {
    font-family: Lato-Bold;
    font-size: 18px;
    color: #fff;
    line-height: 1.4;
  
    background-color: #9c6f2c;
  }
  
  .tabla.ver1 td {
    font-family: Lato-Regular;
    font-size: 15px;
    color: #131414;
    line-height: 1.4;
  }
  
  .tabla.ver1 .tabla-body tr:nth-child(even) {
    background-color: #538d07;
  }
  
  /*---------------------------------------------*/
  
  .tabla.ver1 {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  }
  
  .tabla.ver1 .ps__rail-y {
    right: 5px;
  }
  
  .tabla.ver1 .ps__rail-y::before {
    background-color: #3818ad;
  }
  
  .tabla.ver1 .ps__rail-y .ps__thumb-y::before {
    background-color: #a1156c;
  }
  
  
  